In [44]:
import pandas as pd
import os
import re
from collections import OrderedDict
from sqlalchemy import create_engine, MetaData, Table
import inflect
import datetime
import pandasql as ps

In [45]:
# cricket = create_engine('sqlite:///cricket.sql', echo=False)

In [107]:
Matches = OrderedDict()
Batsmen = []
bowling_frame = pd.DataFrame()
batting_frame = pd.DataFrame()
# print(newDF)
Bowlers = []
Players = []
bowling_columns = ["ID", "Bowler", "O", "M", "R", "W", "Econ", "0s", "4s", "6s", "WD", "NB"]
directory = os.path.join("../data")
for root,dirs,files in os.walk(directory):
    for count, file in enumerate(files):
#         newDF = pd.DataFrame()
        if file.endswith("ing.csv"):
            df = pd.read_csv("../data/" + file)
            match_no = int(re.search(r'\d+', file).group())
            df.insert(loc=0, column="ID", value = match_no)
            if match_no not in Matches.keys():
                Matches[match_no] = OrderedDict()
            if "bowling" in file:
                
                for bowler in df['Bowling']:
                    if bowler not in Bowlers:
                        Bowlers.append(bowler)
                    if bowler not in Players:
                        Players.append(bowler)
#                 df = df["Bowling != "Bowling"]
#                 if(count == 1):
#                     print(df.columns)
                df = df[df.Bowling != 'Bowling']
#                 if(count == 1):
#                     print(df)
                bowling_frame = bowling_frame.append(df, ignore_index = True)
#                 Matches[match_no]["bowling"] = OrderedDict()
#                 Matches[match_no]["bowling"]["data"] = df
#                 Matches[match_no]["bowling"]["index"] = df.loc[df['Bowling'] == 'Bowling'].index.tolist()[0]
                
            else:
#                 df[pd.to_numeric]
#                 print(df[pd.to_numeric(df.R, errors='coerce').isnull()])
#                 print(df['R'])
#                 print(df['R'].iloc[8])
#                 print(df[:df.loc[df['BATSMEN'] == 'BAdf.indexTSMEN'].index.tolist()[0]])
#                 print()
#                 df['R'] = df['R'].apply(pd.to_numeric)
#                 pd.to_numeric(df['R'])
                for batsman in df['BATSMEN']:
                    if batsman not in Batsmen:
                        Batsmen.append(batsman)
                    if batsman not in Players:
                        Players.append(batsman)
                df.rename(columns={'Unnamed: 1':'FOW'}, inplace=True)
                df = df[df.BATSMEN != 'BATSMEN']
                batting_frame = batting_frame.append(df, ignore_index = True)                        
#                 Matches[match_no]["batting"] = OrderedDict()
#                 Matches[match_no]["batting"]["index"] = df.loc[df['BATSMEN'] == 'BATSMEN'].index.tolist()[0]
#                 df.rename(columns={'Unnamed: 1':'FOW'}, inplace=True)
#                 Matches[match_no]["batting"]["data"] = df
                # Last row ith column name

In [108]:
# drop all rows with column names
# bowling_frame.drop_duplicates(subset = ["Bowling", "O", "M", "R", "W", "Econ", "0s", "4s", "6s", "WD", "NB"])
# Last row ith column name
# bowling_frame.drop([769], inplace = True)
bowling_frame[:30]

    ID            Bowling    O  M   R  W   Econ  0s 4s 6s WD NB
0    1          DL Chahar    3  0  14  1   4.66  12  2  0  0  0
1    1          SR Watson    4  0  29  2   7.25  12  1  2  1  0
2    1    Harbhajan Singh    2  0  14  0   7.00   3  1  0  0  0
3    1          RA Jadeja    1  0   9  0   9.00   3  2  0  0  0
4    1            MA Wood    4  0  49  0  12.25   6  6  2  1  0
5    1        Imran Tahir    2  0  23  1  11.50   4  3  1  0  0
6    1           DJ Bravo    4  0  25  0   6.25   9  3  0  0  0
7    1     MJ McClenaghan    4  0  44  1  11.00   5  4  2  1  0
8    1  Mustafizur Rahman  3.5  0  39  1  10.17   8  6  1  0  0
9    1          JJ Bumrah    4  0  37  1   9.25  10  0  4  0  1
10   1          HH Pandya    4  0  24  3   6.00  12  1  1  3  0
11   1         M Markande    4  0  23  3   5.75  11  0  2  0  0
12  22           TA Boult    3  0  21  2   7.00   9  3  0  1  0
13  22         Avesh Khan    4  0  36  2   9.00   9  5  1  0  0
14  22        LE Plunkett    4  0  17  3   4.25  12  1  0  1  0
15  22       DT Christian    3  0  17  1   5.66   8  2  0  0  0
16  22           A Mishra    4  0  33  0   8.25   7  1  1  2  0
17  22         GJ Maxwell    1  0   4  0   4.00   2  0  0  0  0
18  22          R Tewatia    1  0   6  0   6.00   1  0  0  0  0
19  22         AS Rajpoot    4  0  23  2   5.75  15  4  0  2  0
20  22            BB Sran    4  0  45  1  11.25   5  4  1  3  0
21  22             AJ Tye    4  0  25  2   6.25  11  0  1  2  0
22  22           R Ashwin    4  0  19  0   4.75   8  1  0  0  0
23  22   Mujeeb Ur Rahman    4  0  25  2   6.25  12  2  1  0  0
24  15          PP Chawla    4  0  18  1   4.50  10  1  0  0  0
25  15      Kuldeep Yadav    4  0  23  1   5.75   9  1  1  0  0
26  15          SP Narine    4  0  48  0  12.00   6  7  1  0  0
27  15        Shivam Mavi    4  0  40  1  10.00   9  3  2  3  0
28  15             N Rana    2  0  11  2   5.50   4  1  0  0  0
29  15          TK Curran    2  0  19  2   9.50   3  2  0  0  1

In [109]:
# drop all rows with column names
# batting_frame.drop_duplicates()
# Last row ith column name
# bowling_frame.drop([769], inplace = True)
batting_frame[:30]

,ID,BATSMEN,FOW,R,B,4s,6s,SR
0,57,S Dhawan,b Chahar,0,1,0,0,0.00
1,57,SP Goswami †,c & b Ngidi,12,9,2,0,133.33
2,57,KS Williamson (c),c †Dhoni b Thakur,24,15,4,0,160.00
3,57,MK Pandey,c & b Jadeja,8,16,0,0,50.00
4,57,Shakib Al Hasan,c †Dhoni b Bravo,12,10,2,0,120.00
5,57,YK Pathan,c & b Bravo,24,29,3,0,82.75
6,57,CR Brathwaite,not out,43,29,1,4,148.27
7,57,B Kumar,run out (†Dhoni),7,11,0,0,63.63
8,57,SR Watson,c †Goswami b Kumar,0,5,0,0,0.00
9,57,F du Plessis,not out,67,42,5,4,159.52
10,57,SK Raina,b Kaul,22,13,4,0,169.23
11,57,AT Rayudu,b Kaul,0,1,0,0,0.00
12,57,MS Dhoni (c) †,b Rashid Khan,9,18,1,0,50.00
13,57,DJ Bravo,c Dhawan b Rashid Khan,7,11,0,0,63.63
14,57,RA Jadeja,c & b Sandeep Sharma,3,5,0,0,60.00
15,57,DL Chahar,c Brathwaite b Sandeep Sharma,10,6,0,1,166.66
16,57,Harbhajan Singh,run out (Rashid Khan/Brathwaite),2,9,0,0,22.22
17,57,SN Thakur,not out,15,5,3,0,300.00
18,27,SR Watson,c Markande b KH Pandya,12,11,1,0,109.09
19,27,AT Rayudu,c Cutting b KH Pandya,46,35,2,4,131.42
20,27,SK Raina,not out,75,47,6,4,159.57
21,27,MS Dhoni (c) †,c Lewis b McClenaghan,26,21,3,1,123.80
22,27,DJ Bravo,c Markande b McClenaghan,0,1,0,0,0.00
23,27,SW Billings,c Cutting b HH Pandya,3,5,0,0,60.00
24,27,RA Jadeja,not out,0,0,0,0,-
25,27,SA Yadav,c Jadeja b Harbhajan Singh,44,34,5,1,129.41
26,27,E Lewis,c Thakur b Bravo,47,43,3,2,109.30
27,27,RG Sharma (c),not out,56,33,6,2,169.69
28,27,HH Pandya,not out,13,8,0,1,162.50
29,8,KL Rahul †,c Khan b Washington Sundar,47,30,2,4,156.66

In [48]:
# First innings batting details of the first match
# Matches[1]["batting"]["data"][:Matches[1]["batting"]["index"]]

   ID         BATSMEN                         FOW   R   B 4s 6s      SR
0   1   RG Sharma (c)           c Rayudu b Watson  15  18  1  1   83.33
1   1         E Lewis                lbw b Chahar   0   2  0  0    0.00
2   1  Ishan Kishan †        c Wood b Imran Tahir  40  29  4  1  137.93
3   1        SA Yadav  c Harbhajan Singh b Watson  43  29  6  1  148.27
4   1       HH Pandya                     not out  22  20  2  0  110.00
5   1       KH Pandya                     not out  41  22  5  2  186.36

In [49]:
# Second innings batting details of the first match
# Matches[1]["batting"]["data"][Matches[1]["batting"]["index"] + 1:]

    ID          BATSMEN                              FOW   R   B 4s 6s      SR
7    1        SR Watson              c Lewis b HH Pandya  16  14  1  1  114.28
8    1        AT Rayudu                   lbw b Markande  22  19  4  0  115.78
9    1         SK Raina          c KH Pandya b HH Pandya   4   6  0  0   66.66
10   1        KM Jadhav                          not out  24  22  1  2  109.09
11   1   MS Dhoni (c) †                   lbw b Markande   5   5  0  0  100.00
12   1        RA Jadeja      c Yadav b Mustafizur Rahman  12  13  1  0   92.30
13   1         DJ Bravo                c Sharma b Bumrah  68  30  3  7  226.66
14   1        DL Chahar      st †Ishan Kishan b Markande   0   1  0  0    0.00
15   1  Harbhajan Singh           c Bumrah b McClenaghan   8   5  1  0  160.00
16   1          MA Wood  c Mustafizur Rahman b HH Pandya   1   3  0  0   33.33
17   1      Imran Tahir                          not out   2   2  0  0  100.00

In [50]:
# Matches[1]["bowling"]["data"][:Matches[1]["bowling"]["index"]]

   ID          Bowling  O  M   R  W   Econ  0s 4s 6s WD NB
0   1        DL Chahar  3  0  14  1   4.66  12  2  0  0  0
1   1        SR Watson  4  0  29  2   7.25  12  1  2  1  0
2   1  Harbhajan Singh  2  0  14  0   7.00   3  1  0  0  0
3   1        RA Jadeja  1  0   9  0   9.00   3  2  0  0  0
4   1          MA Wood  4  0  49  0  12.25   6  6  2  1  0
5   1      Imran Tahir  2  0  23  1  11.50   4  3  1  0  0
6   1         DJ Bravo  4  0  25  0   6.25   9  3  0  0  0

In [51]:
# Matches[1]["bowling"]["data"][Matches[1]["bowling"]["index"] + 1:]

    ID            Bowling    O  M   R  W   Econ  0s 4s 6s WD NB
8    1     MJ McClenaghan    4  0  44  1  11.00   5  4  2  1  0
9    1  Mustafizur Rahman  3.5  0  39  1  10.17   8  6  1  0  0
10   1          JJ Bumrah    4  0  37  1   9.25  10  0  4  0  1
11   1          HH Pandya    4  0  24  3   6.00  12  1  1  3  0
12   1         M Markande    4  0  23  3   5.75  11  0  2  0  0

In [52]:
# Other Match Data
match_data = pd.read_csv("../data/match-data.csv")
# Change the date format to mm/dd/yy
for index, row in match_data.iterrows():
    row['Match Date'] = datetime.datetime.strptime(row['Match Date'], '%b %d, %Y').strftime('%d/%m/%y')
match_data.insert(loc=0, column='ID', value=match_data.index + 1)
match_data

,ID,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,1,Mum Indians,Super Kings,Super Kings,1 wicket,Mumbai,07/04/18,T20
1,2,Kings XI,Daredevils,Kings XI,6 wickets,Mohali,08/04/18,T20
2,3,KKR,RCB,KKR,4 wickets,Kolkata,08/04/18,T20
3,4,Sunrisers,Royals,Sunrisers,9 wickets,Hyderabad (Deccan),09/04/18,T20
4,5,Super Kings,KKR,Super Kings,5 wickets,Chennai,10/04/18,T20
5,6,Royals,Daredevils,Royals,10 runs,Jaipur,11/04/18,T20
6,7,Sunrisers,Mum Indians,Sunrisers,1 wicket,Hyderabad (Deccan),12/04/18,T20
7,8,RCB,Kings XI,RCB,4 wickets,Bengaluru,13/04/18,T20
8,9,Mum Indians,Daredevils,Daredevils,7 wickets,Mumbai,14/04/18,T20
9,10,KKR,Sunrisers,Sunrisers,5 wickets,Kolkata,14/04/18,T20
10,11,RCB,Royals,Royals,19 runs,Bengaluru,15/04/18,T20
11,12,Kings XI,Super Kings,Kings XI,4 runs,Mohali,15/04/18,T20
12,13,KKR,Daredevils,KKR,71 runs,Kolkata,16/04/18,T20
13,14,Mum Indians,RCB,Mum Indians,46 runs,Mumbai,17/04/18,T20
14,15,Royals,KKR,KKR,7 wickets,Jaipur,18/04/18,T20
15,16,Kings XI,Sunrisers,Kings XI,15 runs,Mohali,19/04/18,T20
16,17,Super Kings,Royals,Super Kings,64 runs,Pune,20/04/18,T20
17,18,KKR,Kings XI,Kings XI,9 wickets,Kolkata,21/04/18,T20
18,19,RCB,Daredevils,RCB,6 wickets,Bengaluru,21/04/18,T20
19,20,Sunrisers,Super Kings,Super Kings,4 runs,Hyderabad (Deccan),22/04/18,T20
20,21,Royals,Mum Indians,Royals,3 wickets,Jaipur,22/04/18,T20
21,22,Daredevils,Kings XI,Kings XI,4 runs,Delhi,23/04/18,T20
22,23,Mum Indians,Sunrisers,Sunrisers,31 runs,Mumbai,24/04/18,T20
23,24,RCB,Super Kings,Super Kings,5 wickets,Bengaluru,25/04/18,T20
24,25,Sunrisers,Kings XI,Sunrisers,13 runs,Hyderabad (Deccan),26/04/18,T20
25,26,Daredevils,KKR,Daredevils,55 runs,Delhi,27/04/18,T20
26,27,Super Kings,Mum Indians,Mum Indians,8 wickets,Pune,28/04/18,T20
27,28,Royals,Sunrisers,Sunrisers,11 runs,Jaipur,29/04/18,T20
28,29,RCB,KKR,KKR,6 wickets,Bengaluru,29/04/18,T20
29,30,Super Kings,Daredevils,Super Kings,13 runs,Pune,30/04/18,T20
30,31,RCB,Mum Indians,RCB,14 runs,Bengaluru,01/05/18,T20
31,32,Daredevils,Royals,Daredevils,4 runs,Delhi,02/05/18,T20
32,33,KKR,Super Kings,KKR,6 wickets,Kolkata,03/05/18,T20
33,34,Kings XI,Mum Indians,Mum Indians,6 wickets,Indore,04/05/18,T20
34,35,Super Kings,RCB,Super Kings,6 wickets,Pune,05/05/18,T20
35,36,Sunrisers,Daredevils,Sunrisers,7 wickets,Hyderabad (Deccan),05/05/18,T20
36,37,Mum Indians,KKR,Mum Indians,13 runs,Mumbai,06/05/18,T20
37,38,Kings XI,Royals,Kings XI,6 wickets,Indore,06/05/18,T20
38,39,Sunrisers,RCB,Sunrisers,5 runs,Hyderabad (Deccan),07/05/18,T20
39,40,Royals,Kings XI,Royals,15 runs,Jaipur,08/05/18,T20
40,41,KKR,Mum Indians,Mum Indians,102 runs,Kolkata,09/05/18,T20
41,42,Daredevils,Sunrisers,Sunrisers,9 wickets,Delhi,10/05/18,T20
42,43,Royals,Super Kings,Royals,4 wickets,Jaipur,11/05/18,T20
43,44,Kings XI,KKR,KKR,31 runs,Indore,12/05/18,T20
44,45,Daredevils,RCB,RCB,5 wickets,Delhi,12/05/18,T20
45,46,Super Kings,Sunrisers,Super Kings,8 wickets,Pune,13/05/18,T20
46,47,Mum Indians,Royals,Royals,7 wickets,Mumbai,13/05/18,T20
47,48,Kings XI,RCB,RCB,10 wickets,Indore,14/05/18,T20
48,49,KKR,Royals,KKR,6 wickets,Kolkata,15/05/18,T20
49,50,Mum Indians,Kings XI,Mum Indians,3 runs,Mumbai,16/05/18,T20
50,51,RCB,Sunrisers,RCB,14 runs,Bengaluru,17/05/18,T20
51,52,Daredevils,Super Kings,Daredevils,34 runs,Delhi,18/05/18,T20
52,53,Royals,RCB,Royals,30 runs,Jaipur,19/05/18,T20
53,54,Sunrisers,KKR,KKR,5 wickets,Hyderabad (Deccan),19/05/18,T20
54,55,Daredevils,Mum Indians,Daredevils,11 runs,Delhi,20/05/18,T20
55,56,Super Kings,Kings XI,Super Kings,5 wickets,Pune,20/05/18,T20
56,57,Sunrisers,Super Kings,Super Kings,2 wickets,Mumbai,22/05/18,T20
57,58,KKR,Royals,KKR,25 runs,Kolkata,23/05/18,T20
58,59,KKR,Sunrisers,Sunrisers,14 runs,Kolkata,25/05/18,T20
59,60,Super Kings,Sunrisers,Super Kings,8 wickets,Mumbai,27/05/18,T20

In [53]:
q1 = "SELECT Winner FROM match_data where `Team 1` = 'KKR' and `Team 2` = 'RCB'"
print(ps.sqldf(q1, locals()))

  Winner
0    KKR

In [11]:
teams = []
match_dates = [] 
grounds = []
# Team names and match_dates
for t,d in zip(match_data['Team 1'], match_data['Match Date']):
    if t not in teams:
        teams.append(t)
    
    if d not in match_dates:
        match_dates.append(d)

# Ground locations for matches
for g in match_data['Ground']:
    if g not in grounds:
        grounds.append(g)

In [12]:
# p = inflect.engine()
# for k1,v1 in Matches.items():
# #     k1 - match no
#     for k2, v2 in v1.items():
#         # k2 - batting,bowling
#         word = p.number_to_words(k1, group=1)
#         numbers = word.split(",")
#         string = ''
# #         print(numbers)
#         for num in numbers:
#             string += num.lstrip() + "_"
#         string += k2 + "_"
#         index = v2['index']
#         i1 = v2['data'][:v2['index']]
# #         i1['R'] = i1['R'].apply(pd.to_numeric)
# #         print(i1.dtypes)
#         i2 = v2['data'][v2['index'] + 1:]
#         i1.to_sql(name = string + p.number_to_words(1), con = cricket, if_exists='replace')
#         i2.to_sql(name = string + p.number_to_words(2), con = cricket, if_exists='replace')

NameError: name 'cricket' is not defined

In [13]:
# cricket.execute("SELECT * from two_five_batting_two").fetchall()

NameError: name 'cricket' is not defined

In [14]:
## Questions queried only from match-data.csv

ques = "Who was the winner between Mum Indians and Super Kings on Apr 7, 2018?"
# query:<who> <Team1> <Team2> < Match Date>, select col: <Winner>
ques = "Who was the winner between Kings XI and Daredevils at Mohali?"
# query:<who> <Team1> <Team2> <Ground>, select col: <Winner>
ques = "Where was the match between Sunrisers and Royals held on Apr 9, 2018?"
# query: <where> <Team1> <Team2> <match date>, select col: <Ground>
ques = "When was the match between Super Kings and KKR held in Chennai?"
# query: <when> <team1> <team2> <ground>, select col: <match date>

In [15]:
# Need to link match-data.csv and scoreboards for individual matches
# For questions such as : How much did <Player> score in match between <team1> and <team2>?
## first query team1 & team2 in match-data.csv, find index of row then go to scoreboard-match-data-<index>.csv for
## that matches score