In [1]:
import pandas as pd
import os
import re
from collections import OrderedDict
from sqlalchemy import create_engine, MetaData, Table
import inflect
import datetime
import pandasql as ps

In [2]:
# cricket = create_engine('sqlite:///cricket.sql', echo=False)

In [96]:
Matches = OrderedDict()
Batsmen = []
bowling_frame = pd.DataFrame()
batting_frame = pd.DataFrame()
# print(newDF)
Bowlers = []
Players = []
bowling_columns = ["ID", "Bowler", "O", "M", "R", "W", "Econ", "0s", "4s", "6s", "WD", "NB"]
directory = os.path.join("../data")
for root,dirs,files in os.walk(directory):
    for count, file in enumerate(files):
#         newDF = pd.DataFrame()
        if file.endswith("ing.csv"):
            df = pd.read_csv("../data/" + file)
            match_no = int(re.search(r'\d+', file).group())
            df.insert(loc=0, column="ID", value = match_no)
            if match_no not in Matches.keys():
                Matches[match_no] = OrderedDict()
            if "bowling" in file:
                
                for bowler in df['Bowling']:
                    if bowler not in Bowlers:
                        Bowlers.append(bowler)
                    if bowler not in Players:
                        Players.append(bowler)
#                 df = df["Bowling != "Bowling"]
#                 if(count == 1):
#                     print(df.columns)
                df = df[df.Bowling != 'Bowling']
#                 if(count == 1):
#                     print(df)
                bowling_frame = bowling_frame.append(df, ignore_index = True)
#                 Matches[match_no]["bowling"] = OrderedDict()
#                 Matches[match_no]["bowling"]["data"] = df
#                 Matches[match_no]["bowling"]["index"] = df.loc[df['Bowling'] == 'Bowling'].index.tolist()[0]
                
            else:
#                 df[pd.to_numeric]
#                 print(df[pd.to_numeric(df.R, errors='coerce').isnull()])
#                 print(df['R'])
#                 print(df['R'].iloc[8])
#                 print(df[:df.loc[df['BATSMEN'] == 'BAdf.indexTSMEN'].index.tolist()[0]])
#                 print()
#                 df['R'] = df['R'].apply(pd.to_numeric)
#                 pd.to_numeric(df['R'])
                for batsman in df['BATSMEN']:
                    if batsman not in Batsmen:
                        Batsmen.append(batsman)
                    if batsman not in Players:
                        Players.append(batsman)
                df.rename(columns={'Unnamed: 1':'FOW'}, inplace=True)
                df = df[df.BATSMEN != 'BATSMEN']
                batting_frame = batting_frame.append(df, ignore_index = True)                        
#                 Matches[match_no]["batting"] = OrderedDict()
#                 Matches[match_no]["batting"]["index"] = df.loc[df['BATSMEN'] == 'BATSMEN'].index.tolist()[0]
#                 df.rename(columns={'Unnamed: 1':'FOW'}, inplace=True)
#                 Matches[match_no]["batting"]["data"] = df
                # Last row ith column name

bowling_frame.rename(columns={'Bowling' : 'Bowler'})
batting_frame.rename(columns={'BATSMEN' : 'Batsmen'})

     ID          Batsmen                          FOW   R   B 4s 6s      SR
0    41         SA Yadav             c Singh b Chawla  36  32  5  1  112.50
1    41          E Lewis              c Lynn b Chawla  18  13  3  0  138.46
2    41    RG Sharma (c)  c Uthappa b Prasidh Krishna  36  31  2  1  116.12
3    41   Ishan Kishan †           c Uthappa b Narine  62  21  5  6  295.23
4    41        HH Pandya             c Singh b Curran  19  13  0  2  146.15
..   ..              ...                          ...  ..  .. .. ..     ...
928  56         SK Raina                      not out  61  48  4  2  127.08
929  56      SW Billings                    b Rajpoot   0   1  0  0    0.00
930  56  Harbhajan Singh                 lbw b Ashwin  19  22  2  1   86.36
931  56        DL Chahar            c Sharma b Ashwin  39  20  1  3  195.00
932  56   MS Dhoni (c) †                      not out  16   7  1  1  228.57

[933 rows x 8 columns]

In [32]:
# drop all rows with column names
# bowling_frame.drop_duplicates(subset = ["Bowling", "O", "M", "R", "W", "Econ", "0s", "4s", "6s", "WD", "NB"])
# Last row ith column name
# bowling_frame.drop([769], inplace = True)
bowling_frame.head()

   ID     Bowling  O  M   R  W   Econ  0s 4s 6s WD NB
0  58   K Gowtham  3  0  15  2   5.00  10  2  0  0  0
1  58   JC Archer  4  0  33  2   8.25  12  2  2  3  1
2  58  JD Unadkat  2  0  33  0  16.50   1  4  2  0  0
3  58    IS Sodhi  4  0  15  0   3.75  11  0  0  0  0
4  58     S Gopal  4  0  34  1   8.50   8  2  2  0  0

In [58]:
# drop all rows with column names
# batting_frame.drop_duplicates()
# Last row ith column name
# bowling_frame.drop([769], inplace = True)
batting_frame

     ID          BATSMEN                          FOW   R   B 4s 6s      SR
0    41         SA Yadav             c Singh b Chawla  36  32  5  1  112.50
1    41          E Lewis              c Lynn b Chawla  18  13  3  0  138.46
2    41    RG Sharma (c)  c Uthappa b Prasidh Krishna  36  31  2  1  116.12
3    41   Ishan Kishan †           c Uthappa b Narine  62  21  5  6  295.23
4    41        HH Pandya             c Singh b Curran  19  13  0  2  146.15
..   ..              ...                          ...  ..  .. .. ..     ...
928  56         SK Raina                      not out  61  48  4  2  127.08
929  56      SW Billings                    b Rajpoot   0   1  0  0    0.00
930  56  Harbhajan Singh                 lbw b Ashwin  19  22  2  1   86.36
931  56        DL Chahar            c Sharma b Ashwin  39  20  1  3  195.00
932  56   MS Dhoni (c) †                      not out  16   7  1  1  228.57

[933 rows x 8 columns]

In [93]:
# Other Match Data
match_data = pd.read_csv("../data/match-data.csv")
# Change the date format to mm/dd/yy
for index, row in match_data.iterrows():
    row['Match Date'] = datetime.datetime.strptime(row['Match Date'], '%b %d, %Y').strftime('%d/%m/%y')
match_data.rename(columns={'Team 1':'Team1', 'Team 2': 'Team2', 'Match Date': 'MatchDate'}, inplace=True)
match_data.insert(loc=0, column='ID', value=match_data.index + 1)
match_data.head()

,ID,Team1,Team2,Winner,Margin,Ground,MatchDate,Scorecard
0,1,Mum Indians,Super Kings,Super Kings,1 wicket,Mumbai,07/04/18,T20
1,2,Kings XI,Daredevils,Kings XI,6 wickets,Mohali,08/04/18,T20
2,3,KKR,RCB,KKR,4 wickets,Kolkata,08/04/18,T20
3,4,Sunrisers,Royals,Sunrisers,9 wickets,Hyderabad (Deccan),09/04/18,T20
4,5,Super Kings,KKR,Super Kings,5 wickets,Chennai,10/04/18,T20

In [66]:
q1 = "SELECT Winner FROM match_data where `Team 1` = 'KKR' and `Team 2` = 'RCB'"
print(ps.sqldf(q1, locals()))

  Winner
0    KKR

In [67]:
q3 = "select BATSMEN from batting_frame WHERE `6s` = 1"
print(ps.sqldf(q3, locals()))

             BATSMEN
0           SA Yadav
1      RG Sharma (c)
2          KH Pandya
3            CA Lynn
4             N Rana
..               ...
198        MK Tiwary
199        DA Miller
200         AR Patel
201  Harbhajan Singh
202   MS Dhoni (c) †

[203 rows x 1 columns]

In [69]:
q2 = "SELECT R FROM batting_frame t1 INNER JOIN match_data t2 on t1.ID = t2.ID where (t2.GROUND = 'Mumbai') AND (t1.BATSMEN = 'RG Sharma (c)') AND ((t2.`Team 1` = 'Mum Indians' AND t2.`Team 2` = 'Super Kings') OR  (t2.`Team 2` = 'Mum Indians' AND t2.`Team 1` = 'Super Kings')) "
print(ps.sqldf(q2, locals()))

    R
0  15

In [12]:
teams = []
match_dates = [] 
grounds = []
# Team names and match_dates
for t,d in zip(match_data['Team 1'], match_data['Match Date']):
    if t not in teams:
        teams.append(t)
    
    if d not in match_dates:
        match_dates.append(d)

# Ground locations for matches
for g in match_data['Ground']:
    if g not in grounds:
        grounds.append(g)

In [12]:
# p = inflect.engine()
# for k1,v1 in Matches.items():
# #     k1 - match no
#     for k2, v2 in v1.items():
#         # k2 - batting,bowling
#         word = p.number_to_words(k1, group=1)
#         numbers = word.split(",")
#         string = ''
# #         print(numbers)
#         for num in numbers:
#             string += num.lstrip() + "_"
#         string += k2 + "_"
#         index = v2['index']
#         i1 = v2['data'][:v2['index']]
# #         i1['R'] = i1['R'].apply(pd.to_numeric)
# #         print(i1.dtypes)
#         i2 = v2['data'][v2['index'] + 1:]
#         i1.to_sql(name = string + p.number_to_words(1), con = cricket, if_exists='replace')
#         i2.to_sql(name = string + p.number_to_words(2), con = cricket, if_exists='replace')

NameError: name 'cricket' is not defined

In [13]:
# cricket.execute("SELECT * from two_five_batting_two").fetchall()

NameError: name 'cricket' is not defined

In [14]:
## Questions queried only from match-data.csv

ques = "Who was the winner between Mum Indians and Super Kings on Apr 7, 2018?"
# query:<who> <Team1> <Team2> < Match Date>, select col: <Winner>
ques = "Who was the winner between Kings XI and Daredevils at Mohali?"
# query:<who> <Team1> <Team2> <Ground>, select col: <Winner>
ques = "Where was the match between Sunrisers and Royals held on Apr 9, 2018?"
# query: <where> <Team1> <Team2> <match date>, select col: <Ground>
ques = "When was the match between Super Kings and KKR held in Chennai?"
# query: <when> <team1> <team2> <ground>, select col: <match date>

In [15]:
# Need to link match-data.csv and scoreboards for individual matches
# For questions such as : How much did <Player> score in match between <team1> and <team2>?
## first query team1 & team2 in match-data.csv, find index of row then go to scoreboard-match-data-<index>.csv for
## that matches score