In [12]:
import pandas as pd

In [14]:
df = pd.read_csv("../data/scores.csv")

In [15]:
# Renaming the Unnamed column
df.rename(columns={'Unnamed: 1':'FOW'}, inplace=True)

In [16]:
# Row indexes where he bowling and batting scorecard for different innings begin
bowler_indexes = df.loc[df['BATSMEN'] == 'Bowling'].index.tolist()
batsmen_indexes = df.loc[df['BATSMEN'] == 'BATSMEN'].index.tolist()
# First batting index as -1 because first innings starts at index 0
batsmen_indexes = [-1] + batsmen_indexes

In [17]:
# Break score card into innings
innings = [] # Row indexes of where the inning starts, where the bowling starts and where inning ends
for counter, ini in enumerate(batsmen_indexes):
    # Last inning ends at the end of the data frame so df.shape[0]
    if counter == len(batsmen_indexes) - 1:
        innings.append((batsmen_indexes[counter] + 1, bowler_indexes[counter] + 1, df.shape[0]))
    else:
        innings.append((batsmen_indexes[counter] + 1, bowler_indexes[counter] + 1, batsmen_indexes[counter + 1]))

In [18]:
innings

[(0, 12, 18), (19, 31, 36), (37, 49, 54)]

In [19]:
ini1_bat = df[innings[0][0]:innings[0][1] - 1]
ini1_bowl = df[innings[0][1]:innings[0][2]]

In [20]:
ini1_bat

           BATSMEN                   FOW    R    B    M  4s 6s      SR
0          PP Shaw          c & b Bishoo  134  154  238  19  0   87.01
1         KL Rahul         lbw b Gabriel    0    4    6   0  0    0.00
2        CA Pujara    c †Dowrich b Lewis   86  130  194  14  0   66.15
3      V Kohli (c)      c Bishoo b Lewis  139  230  341  10  0   60.43
4        AM Rahane    c †Dowrich b Chase   41   92  127   5  0   44.56
5        RR Pant †       c Paul b Bishoo   92   84  121   8  4  109.52
6        RA Jadeja               not out  100  132  152   5  5   75.75
7         R Ashwin   c †Dowrich b Bishoo    7   15   18   1  0   46.66
8    Kuldeep Yadav          lbw b Bishoo   12   32   33   2  0   37.50
9         UT Yadav  c Lewis b Brathwaite   22   24   22   0  2   91.66
10  Mohammed Shami               not out    2    6   21   0  0   33.33

In [21]:
ini1_bowl

          BATSMEN   FOW  R    B  M    4s 6s SR
12     ST Gabriel    21  1   84  1  4.00  0  2
13       KMA Paul    15  1   61  0  4.06  0  2
14       SH Lewis    20  0   93  2  4.65  0  0
15       D Bishoo    54  3  217  4  4.01  0  0
16       RL Chase    26  1  137  1  5.26  0  0
17  KC Brathwaite  13.5  1   47  1  3.39  0  0