In [1]:
import pandas as pd
# from sqlalchemy import create_engine, MetaData, Table

In [2]:
engine = create_engine('sqlite:///batting.sql', echo=False)

NameError: name 'create_engine' is not defined

In [ ]:
engine.table_names()

In [6]:
# Read the score card
df = pd.read_csv("../data/scoreboard-match-1.csv")

ParserError: Error tokenizing data. C error: Expected 7 fields in line 9, saw 8

In [5]:
# Renaming the Unnamed column
df.rename(columns={'Unnamed: 1':'FOW'}, inplace=True)
# Add innings column to the dataframe
df['Innings'] = 1 # Default 1

In [6]:
# Row indexes where the bowling and batting scorecard for different innings begin
bowler_indexes = df.loc[df['BATSMEN'] == 'Bowling'].index.tolist()
batsmen_indexes = df.loc[df['BATSMEN'] == 'BATSMEN'].index.tolist()
# First batting index as -1 because first innings starts at index 0
batsmen_indexes = [-1] + batsmen_indexes

In [7]:
# Break score card into innings
innings = [] # Row indexes of where the inning starts, where the bowling starts and where inning ends
for counter, ini in enumerate(batsmen_indexes):
    # Last inning ends at the end of the data frame so df.shape[0]
    if counter == len(batsmen_indexes) - 1:
        innings.append((batsmen_indexes[counter] + 1, bowler_indexes[counter] + 1, df.shape[0]))
    else:
        innings.append((batsmen_indexes[counter] + 1, bowler_indexes[counter] + 1, batsmen_indexes[counter + 1]))

In [8]:
# Mapping to change the column names for bowling
bat_to_bowl = {'BATSMEN':'BOWLER', 'FOW':'O', 'R':'M', 'B':'R', 'M':'W', '4s':'Econ', '6s':'WD', 'SR':'NB'}
Batting = []
Bowling = []
# Change type of columns to make querying in sql possible
column_to_numeric_bat = ["R", "B", "M", "4s", "6s", "SR", 'Innings']
column_to_numeric_bowl = ["O", "M", "R", "W", "Econ", "WD", "NB", 'Innings']
# Make list of separate dataframes for bowling and batting of each innings
for counter, inning in enumerate(innings):
    # Replace deafult innings value by the real value
    df.loc[innings[counter][0]:innings[counter][1] - 1, 'Innings'].replace(1, counter + 1, inplace=True)
    # For batting
    bat = df[innings[counter][0]:innings[counter][1] - 1]
#     bat['Innings'].replace(1, counter + 1, inplace=True)
    bat[column_to_numeric_bat] =  bat[column_to_numeric_bat].apply(pd.to_numeric)
    Batting.append(bat)
    # For Bowling
    bowl = df[innings[counter][1]:innings[counter][2]]
#     bowl['Innings'].replace(1, counter + 1, inplace=True)    
    column_changed_bowl = bowl.rename(columns = bat_to_bowl)
    column_changed_bowl[column_to_numeric_bowl] =  column_changed_bowl[column_to_numeric_bowl].apply(pd.to_numeric)    
    Bowling.append(column_changed_bowl)

/home/samyak/.local/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [9]:
Batting[0]

,BATSMEN,FOW,R,B,M,4s,6s,SR,Innings
0,PP Shaw,c & b Bishoo,134,154,238,19,0,87.01,1
1,KL Rahul,lbw b Gabriel,0,4,6,0,0,0.00,1
2,CA Pujara,c †Dowrich b Lewis,86,130,194,14,0,66.15,1
3,V Kohli (c),c Bishoo b Lewis,139,230,341,10,0,60.43,1
4,AM Rahane,c †Dowrich b Chase,41,92,127,5,0,44.56,1
5,RR Pant †,c Paul b Bishoo,92,84,121,8,4,109.52,1
6,RA Jadeja,not out,100,132,152,5,5,75.75,1
7,R Ashwin,c †Dowrich b Bishoo,7,15,18,1,0,46.66,1
8,Kuldeep Yadav,lbw b Bishoo,12,32,33,2,0,37.50,1
9,UT Yadav,c Lewis b Brathwaite,22,24,22,0,2,91.66,1
10,Mohammed Shami,not out,2,6,21,0,0,33.33,1

In [10]:
Bowling[0]

           BOWLER     O  M    R  W  Econ  WD  NB  Innings
12     ST Gabriel  21.0  1   84  1  4.00   0   2        1
13       KMA Paul  15.0  1   61  0  4.06   0   2        1
14       SH Lewis  20.0  0   93  2  4.65   0   0        1
15       D Bishoo  54.0  3  217  4  4.01   0   0        1
16       RL Chase  26.0  1  137  1  5.26   0   0        1
17  KC Brathwaite  13.5  1   47  1  3.39   0   0        1

In [11]:
# Check if the table exists, if not then populate it
if engine.dialect.has_table(engine.connect(), "batting"):
    pass
else:
    for x in range(len(Batting)):
        Batting[x].to_sql(name='batting', con=engine, if_exists='append')
        Bowling[x].to_sql(name='bowling', con=engine, if_exists='append')

In [12]:
engine.execute("SELECT BATSMEN FROM batting where R > 100").fetchall()

[('PP Shaw',), ('V Kohli (c)',)]

In [13]:
def make_data(df):
    data = []
    for inning in df:
        for index, row in inning.iterrows():
            for column in inning.columns:
                data.append(tuple(("Row" + str(index), column, row[column])))
    return data

In [14]:
data = []
data.append(make_data(Batting))
data.append(make_data(Bowling))

In [15]:
data

[[('Row0', 'BATSMEN', 'PP Shaw'),
  ('Row0', 'FOW', 'c & b Bishoo'),
  ('Row0', 'R', 134),
  ('Row0', 'B', 154),
  ('Row0', 'M', 238),
  ('Row0', '4s', 19),
  ('Row0', '6s', 0),
  ('Row0', 'SR', 87.01),
  ('Row0', 'Innings', 1),
  ('Row1', 'BATSMEN', 'KL Rahul'),
  ('Row1', 'FOW', 'lbw b Gabriel'),
  ('Row1', 'R', 0),
  ('Row1', 'B', 4),
  ('Row1', 'M', 6),
  ('Row1', '4s', 0),
  ('Row1', '6s', 0),
  ('Row1', 'SR', 0.0),
  ('Row1', 'Innings', 1),
  ('Row2', 'BATSMEN', 'CA Pujara'),
  ('Row2', 'FOW', 'c †Dowrich b Lewis'),
  ('Row2', 'R', 86),
  ('Row2', 'B', 130),
  ('Row2', 'M', 194),
  ('Row2', '4s', 14),
  ('Row2', '6s', 0),
  ('Row2', 'SR', 66.15),
  ('Row2', 'Innings', 1),
  ('Row3', 'BATSMEN', 'V Kohli (c)'),
  ('Row3', 'FOW', 'c Bishoo b Lewis'),
  ('Row3', 'R', 139),
  ('Row3', 'B', 230),
  ('Row3', 'M', 341),
  ('Row3', '4s', 10),
  ('Row3', '6s', 0),
  ('Row3', 'SR', 60.43),
  ('Row3', 'Innings', 1),
  ('Row4', 'BATSMEN', 'AM Rahane'),
  ('Row4', 'FOW', 'c †Dowrich b Chase'),
  ('Row4', 'R', 41),
  ('Row4', 'B', 92),
  ('Row4', 'M', 127),
  ('Row4', '4s', 5),
  ('Row4', '6s', 0),
  ('Row4', 'SR', 44.56),
  ('Row4', 'Innings', 1),
  ('Row5', 'BATSMEN', 'RR Pant †'),
  ('Row5', 'FOW', 'c Paul b Bishoo'),
  ('Row5', 'R', 92),
  ('Row5', 'B', 84),
  ('Row5', 'M', 121),
  ('Row5', '4s', 8),
  ('Row5', '6s', 4),
  ('Row5', 'SR', 109.52),
  ('Row5', 'Innings', 1),
  ('Row6', 'BATSMEN', 'RA Jadeja'),
  ('Row6', 'FOW', 'not out'),
  ('Row6', 'R', 100),
  ('Row6', 'B', 132),
  ('Row6', 'M', 152),
  ('Row6', '4s', 5),
  ('Row6', '6s', 5),
  ('Row6', 'SR', 75.75),
  ('Row6', 'Innings', 1),
  ('Row7', 'BATSMEN', 'R Ashwin'),
  ('Row7', 'FOW', 'c †Dowrich b Bishoo'),
  ('Row7', 'R', 7),
  ('Row7', 'B', 15),
  ('Row7', 'M', 18),
  ('Row7', '4s', 1),
  ('Row7', '6s', 0),
  ('Row7', 'SR', 46.66),
  ('Row7', 'Innings', 1),
  ('Row8', 'BATSMEN', 'Kuldeep Yadav'),
  ('Row8', 'FOW', 'lbw b Bishoo'),
  ('Row8', 'R', 12),
  ('Row8', 'B', 32),
  ('Row8', 'M', 33),
  ('Row8', '4s', 2),
  ('Row8', '6s', 0),
  ('Row8', 'SR', 37.5),
  ('Row8', 'Innings', 1),
  ('Row9', 'BATSMEN', 'UT Yadav'),
  ('Row9', 'FOW', 'c Lewis b Brathwaite'),
  ('Row9', 'R', 22),
  ('Row9', 'B', 24),
  ('Row9', 'M', 22),
  ('Row9', '4s', 0),
  ('Row9', '6s', 2),
  ('Row9', 'SR', 91.66),
  ('Row9', 'Innings', 1),
  ('Row10', 'BATSMEN', 'Mohammed Shami'),
  ('Row10', 'FOW', 'not out'),
  ('Row10', 'R', 2),
  ('Row10', 'B', 6),
  ('Row10', 'M', 21),
  ('Row10', '4s', 0),
  ('Row10', '6s', 0),
  ('Row10', 'SR', 33.33),
  ('Row10', 'Innings', 1),
  ('Row19', 'BATSMEN', 'KC Brathwaite (c)'),
  ('Row19', 'FOW', ' b Mohammed Shami'),
  ('Row19', 'R', 2),
  ('Row19', 'B', 10),
  ('Row19', 'M', 11),
  ('Row19', '4s', 0),
  ('Row19', '6s', 0),
  ('Row19', 'SR', 20.0),
  ('Row19', 'Innings', 2),
  ('Row20', 'BATSMEN', 'KOA Powell'),
  ('Row20', 'FOW', 'lbw b Mohammed Shami'),
  ('Row20', 'R', 1),
  ('Row20', 'B', 6),
  ('Row20', 'M', 21),
  ('Row20', '4s', 0),
  ('Row20', '6s', 0),
  ('Row20', 'SR', 16.66),
  ('Row20', 'Innings', 2),
  ('Row21', 'BATSMEN', 'SD Hope'),
  ('Row21', 'FOW', ' b Ashwin'),
  ('Row21', 'R', 10),
  ('Row21', 'B', 22),
  ('Row21', 'M', 33),
  ('Row21', '4s', 2),
  ('Row21', '6s', 0),
  ('Row21', 'SR', 45.45),
  ('Row21', 'Innings', 2),
  ('Row22', 'BATSMEN', 'SO Hetmyer'),
  ('Row22', 'FOW', 'run out (Jadeja)'),
  ('Row22', 'R', 10),
  ('Row22', 'B', 28),
  ('Row22', 'M', 34),
  ('Row22', '4s', 1),
  ('Row22', '6s', 0),
  ('Row22', 'SR', 35.71),
  ('Row22', 'Innings', 2),
  ('Row23', 'BATSMEN', 'SW Ambris'),
  ('Row23', 'FOW', 'c Rahane b Jadeja'),
  ('Row23', 'R', 12),
  ('Row23', 'B', 20),
  ('Row23', 'M', 33),
  ('Row23', '4s', 2),
  ('Row23', '6s', 0),
  ('Row23', 'SR', 60.0),
  ('Row23', 'Innings', 2),
  ('Row24', 'BATSMEN', 'RL Chase'),
  ('Row24', 'FOW', ' b Ashwin'),
  ('Row24', 'R', 53),
  ('Row24', 'B', 79),
  ('Row24', 'M', 123),
  ('Row24', '4s', 8),
  ('Row24', '6s', 0),
  ('Row24', 'SR', 67.08),
  ('Row24', 'Innings', 2),
  ('Row25', 'BATSMEN', 'SO Dowrich †'),
  ('Row25', 'FOW', ' b Kuldeep Yadav'),
  ('Row25', 'R', 10),
  ('Row25', 'B', 35),
  ('Row25', 'M', 26),
  ('Row25', '4s', 1),
  ('Row25', '6s', 0),
  ('Row25', 'SR', 28.57),
  ('Row25', 'Innings', 2),
  ('Row26', 'BATSMEN', 'KMA Paul'),
  ('Row26', 'FOW', 'c Pujara b Yadav'),
  ('Row26', 'R', 47),
  ('Row26', 'B', 49),
  ('Row26', 'M', 55),
  ('Row26', '4s', 7),
  ('Row26', '6s', 2),
  ('Row26', 'SR', 95.91),
  ('Row26', 'Innings', 2),
  ('Row27', 'BATSMEN', 'D Bishoo'),
  ('Row27', 'FOW', 'not out'),
  ('Row27', 'R', 17),
  ('Row27', 'B', 26),
  ('Row27', 'M', 37),
  ('Row27', '4s', 3),
  ('Row27', '6s', 0),
  ('Row27', 'SR', 65.38),
  ('Row27', 'Innings', 2),
  ('Row28', 'BATSMEN', 'SH Lewis'),
  ('Row28', 'FOW', ' b Ashwin'),
  ('Row28', 'R', 0),
  ('Row28', 'B', 3),
  ('Row28', 'M', 4),
  ('Row28', '4s', 0),
  ('Row28', '6s', 0),
  ('Row28', 'SR', 0.0),
  ('Row28', 'Innings', 2),
  ('Row29', 'BATSMEN', 'ST Gabriel'),
  ('Row29', 'FOW', 'st †Pant b Ashwin'),
  ('Row29', 'R', 1),
  ('Row29', 'B', 10),
  ('Row29', 'M', 14),
  ('Row29', '4s', 0),
  ('Row29', '6s', 0),
  ('Row29', 'SR', 10.0),
  ('Row29', 'Innings', 2),
  ('Row37', 'BATSMEN', 'KC Brathwaite (c)'),
  ('Row37', 'FOW', 'c Shaw b Ashwin'),
  ('Row37', 'R', 10),
  ('Row37', 'B', 30),
  ('Row37', 'M', 31),
  ('Row37', '4s', 2),
  ('Row37', '6s', 0),
  ('Row37', 'SR', 33.33),
  ('Row37', 'Innings', 3),
  ('Row38', 'BATSMEN', 'KOA Powell'),
  ('Row38', 'FOW', 'c Shaw b Kuldeep Yadav'),
  ('Row38', 'R', 83),
  ('Row38', 'B', 93),
  ('Row38', 'M', 128),
  ('Row38', '4s', 8),
  ('Row38', '6s', 4),
  ('Row38', 'SR', 89.24),
  ('Row38', 'Innings', 3),
  ('Row39', 'BATSMEN', 'SD Hope'),
  ('Row39', 'FOW', 'lbw b Kuldeep Yadav'),
  ('Row39', 'R', 17),
  ('Row39', 'B', 34),
  ('Row39', 'M', 34),
  ('Row39', '4s', 1),
  ('Row39', '6s', 1),
  ('Row39', 'SR', 50.0),
  ('Row39', 'Innings', 3),
  ('Row40', 'BATSMEN', 'SO Hetmyer'),
  ('Row40', 'FOW', 'c Rahul b Kuldeep Yadav'),
  ('Row40', 'R', 11),
  ('Row40', 'B', 11),
  ('Row40', 'M', 10),
  ('Row40', '4s', 0),
  ('Row40', '6s', 1),
  ('Row40', 'SR', 100.0),
  ('Row40', 'Innings', 3),
  ('Row41', 'BATSMEN', 'SW Ambris'),
  ('Row41', 'FOW', 'st †Pant b Kuldeep Yadav'),
  ('Row41', 'R', 0),
  ('Row41', 'B', 3),
  ('Row41', 'M', 3),
  ('Row41', '4s', 0),
  ('Row41', '6s', 0),
  ('Row41', 'SR', 0.0),
  ('Row41', 'Innings', 3),
  ('Row42', 'BATSMEN', 'RL Chase'),
  ('Row42', 'FOW', 'c Ashwin b Kuldeep Yadav'),
  ('Row42', 'R', 20),
  ('Row42', 'B', 24),
  ('Row42', 'M', 26),
  ('Row42', '4s', 3),
  ('Row42', '6s', 0),
  ('Row42', 'SR', 83.33),
  ('Row42', 'Innings', 3),
  ('Row43', 'BATSMEN', 'SO Dowrich †'),
  ('Row43', 'FOW', 'not out'),
  ('Row43', 'R', 16),
  ('Row43', 'B', 64),
  ('Row43', 'M', 64),
  ('Row43', '4s', 1),
  ('Row43', '6s', 0),
  ('Row43', 'SR', 25.0),
  ('Row43', 'Innings', 3),
  ('Row44', 'BATSMEN', 'KMA Paul'),
  ('Row44', 'FOW', 'c Yadav b Jadeja'),
  ('Row44', 'R', 15),
  ('Row44', 'B', 15),
  ('Row44', 'M', 14),
  ('Row44', '4s', 2),
  ('Row44', '6s', 1),
  ('Row44', 'SR', 100.0),
  ('Row44', 'Innings', 3),
  ('Row45', 'BATSMEN', 'D Bishoo'),
  ('Row45', 'FOW', 'c †Pant b Ashwin'),
  ('Row45', 'R', 9),
  ('Row45', 'B', 12),
  ('Row45', 'M', 11),
  ('Row45', '4s', 2),
  ('Row45', '6s', 0),
  ('Row45', 'SR', 75.0),
  ('Row45', 'Innings', 3),
  ('Row46', 'BATSMEN', 'SH Lewis'),
  ('Row46', 'FOW', 'lbw b Jadeja'),
  ('Row46', 'R', 4),
  ('Row46', 'B', 15),
  ('Row46', 'M', 11),
  ('Row46', '4s', 1),
  ('Row46', '6s', 0),
  ('Row46', 'SR', 26.66),
  ('Row46', 'Innings', 3),
  ('Row47', 'BATSMEN', 'ST Gabriel'),
  ('Row47', 'FOW', 'c Kuldeep Yadav b Jadeja'),
  ('Row47', 'R', 4),
  ('Row47', 'B', 5),
  ('Row47', 'M', 6),
  ('Row47', '4s', 1),
  ('Row47', '6s', 0),
  ('Row47', 'SR', 80.0),
  ('Row47', 'Innings', 3)],
 [('Row12', 'BOWLER', 'ST Gabriel'),
  ('Row12', 'O', 21.0),
  ('Row12', 'M', 1),
  ('Row12', 'R', 84),
  ('Row12', 'W', 1),
  ('Row12', 'Econ', 4.0),
  ('Row12', 'WD', 0),
  ('Row12', 'NB', 2),
  ('Row12', 'Innings', 1),
  ('Row13', 'BOWLER', 'KMA Paul'),
  ('Row13', 'O', 15.0),
  ('Row13', 'M', 1),
  ('Row13', 'R', 61),
  ('Row13', 'W', 0),
  ('Row13', 'Econ', 4.06),
  ('Row13', 'WD', 0),
  ('Row13', 'NB', 2),
  ('Row13', 'Innings', 1),
  ('Row14', 'BOWLER', 'SH Lewis'),
  ('Row14', 'O', 20.0),
  ('Row14', 'M', 0),
  ('Row14', 'R', 93),
  ('Row14', 'W', 2),
  ('Row14', 'Econ', 4.65),
  ('Row14', 'WD', 0),
  ('Row14', 'NB', 0),
  ('Row14', 'Innings', 1),
  ('Row15', 'BOWLER', 'D Bishoo'),
  ('Row15', 'O', 54.0),
  ('Row15', 'M', 3),
  ('Row15', 'R', 217),
  ('Row15', 'W', 4),
  ('Row15', 'Econ', 4.01),
  ('Row15', 'WD', 0),
  ('Row15', 'NB', 0),
  ('Row15', 'Innings', 1),
  ('Row16', 'BOWLER', 'RL Chase'),
  ('Row16', 'O', 26.0),
  ('Row16', 'M', 1),
  ('Row16', 'R', 137),
  ('Row16', 'W', 1),
  ('Row16', 'Econ', 5.26),
  ('Row16', 'WD', 0),
  ('Row16', 'NB', 0),
  ('Row16', 'Innings', 1),
  ('Row17', 'BOWLER', 'KC Brathwaite'),
  ('Row17', 'O', 13.5),
  ('Row17', 'M', 1),
  ('Row17', 'R', 47),
  ('Row17', 'W', 1),
  ('Row17', 'Econ', 3.39),
  ('Row17', 'WD', 0),
  ('Row17', 'NB', 0),
  ('Row17', 'Innings', 1),
  ('Row31', 'BOWLER', 'Mohammed Shami'),
  ('Row31', 'O', 9),
  ('Row31', 'M', 2),
  ('Row31', 'R', 22),
  ('Row31', 'W', 2),
  ('Row31', 'Econ', 2.44),
  ('Row31', 'WD', 0),
  ('Row31', 'NB', 0),
  ('Row31', 'Innings', 1),
  ('Row32', 'BOWLER', 'UT Yadav'),
  ('Row32', 'O', 11),
  ('Row32', 'M', 3),
  ('Row32', 'R', 20),
  ('Row32', 'W', 1),
  ('Row32', 'Econ', 1.81),
  ('Row32', 'WD', 0),
  ('Row32', 'NB', 0),
  ('Row32', 'Innings', 1),
  ('Row33', 'BOWLER', 'R Ashwin'),
  ('Row33', 'O', 11),
  ('Row33', 'M', 2),
  ('Row33', 'R', 37),
  ('Row33', 'W', 4),
  ('Row33', 'Econ', 3.36),
  ('Row33', 'WD', 0),
  ('Row33', 'NB', 0),
  ('Row33', 'Innings', 1),
  ('Row34', 'BOWLER', 'RA Jadeja'),
  ('Row34', 'O', 7),
  ('Row34', 'M', 1),
  ('Row34', 'R', 22),
  ('Row34', 'W', 1),
  ('Row34', 'Econ', 3.14),
  ('Row34', 'WD', 0),
  ('Row34', 'NB', 0),
  ('Row34', 'Innings', 1),
  ('Row35', 'BOWLER', 'Kuldeep Yadav'),
  ('Row35', 'O', 10),
  ('Row35', 'M', 1),
  ('Row35', 'R', 62),
  ('Row35', 'W', 1),
  ('Row35', 'Econ', 6.2),
  ('Row35', 'WD', 0),
  ('Row35', 'NB', 0),
  ('Row35', 'Innings', 1),
  ('Row49', 'BOWLER', 'Mohammed Shami'),
  ('Row49', 'O', 3.0),
  ('Row49', 'M', 0),
  ('Row49', 'R', 11),
  ('Row49', 'W', 0),
  ('Row49', 'Econ', 3.66),
  ('Row49', 'WD', 0),
  ('Row49', 'NB', 1),
  ('Row49', 'Innings', 1),
  ('Row50', 'BOWLER', 'R Ashwin'),
  ('Row50', 'O', 18.0),
  ('Row50', 'M', 2),
  ('Row50', 'R', 71),
  ('Row50', 'W', 2),
  ('Row50', 'Econ', 3.94),
  ('Row50', 'WD', 0),
  ('Row50', 'NB', 0),
  ('Row50', 'Innings', 1),
  ('Row51', 'BOWLER', 'UT Yadav'),
  ('Row51', 'O', 3.0),
  ('Row51', 'M', 0),
  ('Row51', 'R', 16),
  ('Row51', 'W', 0),
  ('Row51', 'Econ', 5.33),
  ('Row51', 'WD', 0),
  ('Row51', 'NB', 0),
  ('Row51', 'Innings', 1),
  ('Row52', 'BOWLER', 'Kuldeep Yadav'),
  ('Row52', 'O', 14.0),
  ('Row52', 'M', 2),
  ('Row52', 'R', 57),
  ('Row52', 'W', 5),
  ('Row52', 'Econ', 4.07),
  ('Row52', 'WD', 0),
  ('Row52', 'NB', 0),
  ('Row52', 'Innings', 1),
  ('Row53', 'BOWLER', 'RA Jadeja'),
  ('Row53', 'O', 12.5),
  ('Row53', 'M', 1),
  ('Row53', 'R', 35),
  ('Row53', 'W', 3),
  ('Row53', 'Econ', 2.72),
  ('Row53', 'WD', 0),
  ('Row53', 'NB', 0),
  ('Row53', 'Innings', 1)]]